body {
    background: rgb(106, 104, 133);
    font-family: 'Times New Roman', Times, serif;
    font: 10pt;

}

header {
color: white;
text-align: center;
}

section {
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.438);

}

footer {
color: white;
text-align: center;
font-style: italic;
}

img {
    padding: 5px;
    max-width: 100%; /* Garante que a imagem nunca ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Evita espaços extras ao redor da imagem */
    margin: auto; /* Centraliza a imagem */
}